<%- layout('/layouts/boilerplate.ejs') %>

<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-danger text-center">
            <h5>Oops! Something went wrong</h5>
            <p><%= err.message %></p>
        </div>
    </div>
</div>
