body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}
.navbar{
    height:5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}
/* footer */
.info-links a{
    text-decoration: none !important;
    color:#222222;
    margin-right: 0.5rem;
}
.info-links a:hover{
    text-decoration: underline;
}
.info-links, .social-info,.info-brands{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-info i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.info{
    display: flex;
    justify-content: center;
    align-items:space-evenly;
    flex-wrap: wrap;
    height:8rem;
    background-color: #ebebeb;
    text-align: center;
}
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;

}
.card-body{
    padding: 0 !important;
}
.card-body p{
    font-weight: 400;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color:#fe424d !important;
    border: none !important;
}
.edit-btn{
     background-color:#fe424d !important;
     border: none !important;
}
.show-image{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left:0;
    padding-right: 0;
}